version: "3.8"
services:
  database:
    image: postgres:16-alpine
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    

  backend:
    build: ./backend
    depends_on:
      - database
    env_file:
      - .env
    ports:
      - "8080:8080"
      
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"


  nodejs:
    build: ./node-ui
    ports:
      - "5001:5001"
    depends_on:
      - redis

  pythonui:
    build: ./python-ui
    ports:
      - "5000:5000"
    depends_on:
      - redis
  
volumes:
  pgdata: